
body {
    background-color: #180022;
    background-image: url('../images/debt.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  
  h1 {
    margin-top: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
  }
  
  .form-container {
    margin-bottom: 20px;
    width: 100%;
    animation: fadeIn 1s ease-out;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    color: #fffcfc;
    font-size: 18px;
    font-weight: bold;
    margin-left: 1%;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"],
  .form-container input[type="date"] {
    padding: 10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;
    margin-bottom: 10px;
    border: 1px solid #bea766;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e8f5e8;
  }
  
  button#addDebt {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 2%;
    margin-left: 1%;
  }
  
  button#addDebt:hover {
    background-color: #45a049;
  }
  
  .debt-list {
    list-style-type: none;
    padding: 0;
  }
  
  .debt-list li {
    margin-bottom: 10px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    animation: fadeIn 1s ease-out;
  }

  .button-container{
      float:right
  }

  .button-container form {
    display: inline; /* Ensures forms are displayed inline */
    margin-left: 20px; /* Adjust the margin between buttons if needed */
}

  .debt-list li span {
    font-weight: bold;
  }
  
  .debt-list li Button {
    width: 70px;
  }
  
  #editButton{
    padding: 5px 10px;
    background-color: #45a049;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  #deleteButton{
    padding: 5px 10px;
    background-color: #af0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
 
  #deleteButton:hover{
    background-color: #640303;
  }
  #editButton:hover{
    background-color: #027708;
  }

  

  button#reset-button {
  padding: 10px 20px;
  background-color: #c40b0b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 2%;
  margin-left: 1%;
  animation: fadeIn 1s ease-out;
}

button#reset-button:hover {
  background-color: #4d0000;
}
