body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    background-image: url('../images/GPAConverter.jpg');
    background-size:cover;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#container-gpa {
    background-color: rgba(0, 48, 135, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-left: 8px solid rgba(218,170,0,0.7);
    padding: 20px;
    max-width: 50%;
    width: 100%;
    max-height: 80%;
    height:100%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    animation: fadeIn 1s ease-out;
}
#content div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#content{
    margin-top: 10%;
}
h1 {
    color: #DAAA00;
    margin-bottom: 5%;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #f4f4f4;
}

input {
    width: 78%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


button#convert {
    background-color: #3498db;
    color: #f4f4f4;
    padding: 10px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    cursor: pointer;
    width:70px
}
button#reset{
    background-color: #f4f4f4;
    color: #3498db;
    padding: 10px;
    border: 1px solid 3498db ;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10%;
    width:70px;
}

#content div.buttonOperations{
    display: inline-block;
    width: 48%;
    margin-top: 4%;
}

button#convert:hover {
    background-color: #DAAA00;
}

button#reset:hover{
    background-color: #DAAA00;
}

#result {
    margin-top: 20px;
    color: #d6ee00;
    font-size: large;
    text-align: center;
}

#back-button {
    margin-top: 20px;
    background-color: rgba(0,0,0,0.7);
    color: #DAAA00;
    padding: 10px;
    border: 1px solid #DAAA00;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
}

#back-button:hover {
    background-color: #737575;
}