body{
    background-image: url('https://media.giphy.com/media/YOAqV6wRGOEVM48svy/giphy-downsized-large.gif');
    background-size:0.2%;
    animation: backgroundAnimation 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  @keyframes backgroundAnimation {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
  }
  .register-form {
    margin: auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    box-sizing: border-box;
    width: 500px;
  }
  
  h2 {
    text-align: center;
    color: #DAAA00;
    font-weight: bold;
  }
  
  .form-message {
    color: #cc0000;
    margin-bottom: 10px;
    text-align: center;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #DAAA00;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #password-error {
    color: red;
    margin-bottom: 15px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  p {
    margin-top: 15px;
    text-align: center;
    color: #555;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  