body{
    background-color: #63694a;
    font-family: Arial, sans-serif;
    background-image: url('../images/todo.jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    color: #dcf500;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
}

h2,h3{
    font-weight: bold;
}


.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.input-block {
    background-color: #e2dbdb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 50px;
    animation: slideInTop 0.5s ease-out;
}

.input-block h3 {
    color: #333333;
    margin-top: 0;
}

.input-block form {
    display: flex;
    flex-direction: column;
}

.input-block input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.input-block button {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.input-block button:hover {
    background-color: #555555;
}

.list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 50px;
}

.list-block-todo, .list-block-done {
    background-color: #e2dbdb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 200%;
}

.list-block-todo h2, .list-block-done h2 {
    color: #333333;
    margin-top: 0;
}

.list-block-todo ul, .list-block-done ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-block-todo ul li, .list-block-done ul li {
    padding: 10px;
    border-bottom: 1px solid #d80d0d;
    cursor: pointer;
}

.list-block-todo ul li:last-child, .list-block-done ul li:last-child {
    border-bottom: none;
}

.list-block-todo ul#done-list, .list-block-done ul#done-list {
    text-decoration: line-through;
    color: #6a6572;
}

.list-block-todo{
    animation: slideInRight 0.5s ease-out;
}

.list-block-done{
    animation: slideInLeft 0.5s ease-out;
}

.item{
    font-weight:bold;
}

@media (max-width: 768px) {
    .list-container {
        flex-direction: column;
        align-items: center;
    }

    .list-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

button#reset-button{
    background-color: #4d0202;
    color: #f5f5f5;
    padding: 10px;
    border: 1px solid 3498db ;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10%;
    width:70px;
    margin-top: 50px;
    animation: slideInBottom 0.5s ease-out;
}

button#reset-button:hover{
    background-color: rgb(175, 0, 0);
}

