body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    background-image:url('../images/converter.jpg');
    background-size: cover;
}

@keyframes bouncingScale {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        transform: scale(1);
    }
    40% {
        transform: translateY(-30px);
        transform: scale(0.7);
    }   
    60% {
        transform: translateY(-15px);
        transform: scale(1);
    }
}


.container-currency {
    background-color: rgba(43,104,83,0.0);
    padding: 30px;
    border-radius: 10px;
    max-width: 100%;
    width:100%;
    max-height: 100%;
    height: 100%;
    border-left: 2px solid rgba(61,107,91,0.7);
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7); */
    text-align: center;
    margin: auto;
    animation: bouncingScale 1.5s ease-out;
}


h1 {
    color: #e4f09f;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #c1e4cf;
    font-size:25px;
}

input[type="number"],
select {
    padding: 15px;
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333333;
    outline: none;
}

select {
    appearance: none;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="8" viewBox="0 0 12 8"><path fill="%23555555" d="M6 8L0.7 0.3C0.5 0.1 0.3 0 0 0C-0.2 0 -0.3 0.1 -0.3 0.3C-0.3 0.5 -0.2 0.7 0 0.9L5.3 7.9C5.4 8.1 5.6 8.2 5.8 8.2C5.9 8.2 6.1 8.1 6.3 7.9L11.6 0.9C11.8 0.7 12 0.5 12 0.3C12 0.1 11.8 0 11.6 0C11.3 0 11.1 0.1 10.9 0.3L6 8Z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 8px;
}

button#convert {
    background-color: #1e88e5;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-top: 40px;
}

button#convert:hover {
    background-color: #1565c0;
}
button#back-button {
    background-color: #030553;
    color: #ffffff;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20%;
    margin-top: 40px;
}

button#back-button:hover {
background-color: #333333;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 10vh;
  text-align: center;
  color: #f3ef00;
}