<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% load static %}
{% block head %}
    {{ block.super }}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <title>{% block title %}Contact Us% {% endblock %}</title>
</head>
{% endblock %}
<body>
{% block content %}
<div class="contact-container">
    <div class="contact-box">
        <h1><b>free to reach out to us if you have any queries! </b></h1>
        <p><b>Email        : joshbriankurniawan23@gmail.com</b></p>
        <p><b>Phone number : +61 426 526 047 </b></p>
        <p><b>Address      : 38 Pitt Street St James, WA 6102</b></p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const contactBox = document.querySelector('.contact-box');
        setTimeout(function() {
            contactBox.classList.add('show-contact');
        }, 500);
    });
    
</script>
{% endblock %}
</body>
</html>