<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title> Register</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <form action="{% url 'register' %}" method="post" class="register-form">
        {% csrf_token %}
        <h2>User Registration</h2>

        {% for message in messages %}
            <div class="form-message">{{ message }}</div>
        {% endfor %}

        <label for="id_firstname">First Name:</label>
        <input type="text" id="id_firstname" name="firstname" required>

        <label for="id_lastname">Last Name:</label>
        <input type="text" id="id_lastname" name="lastname" required>

        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" required>

        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" required>

        <label for="id_age">Age:</label>
        <input type="number" id="id_age" name="age">

        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" pattern=".*\d.*" minlength="5" title="Password must be at least 5 characters long and contain at least one number" required>
        
        <span id="password-error" style="color: red;"></span>

        <label for="id_password2">Confirm Password:</label>
        <input type="password" id="id_password2" name="password2" required>
        
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login">Login here</a>.</p>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordInput = document.getElementById('id_password');
            var passwordError = document.getElementById('password-error');
            var registerButton = document.querySelector('button[type="submit"]');
            passwordInput.addEventListener('input', function () {
                if (passwordInput.validity.patternMismatch || passwordInput.validity.tooShort) {
                    passwordError.textContent = 'Password must be at least 5 characters long and contain at least one number';
                    registerButton.disabled=true;
                } else {
                    passwordError.textContent = '';
                    registerButton.disabled=false;
                }   
            });
        });
    </script>
</body>
</html>
