body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, #020024 0%, #00232e 35%, #d4af37 100%);
    margin: 0;
    padding: 0;
    animation: moveBackground 10s linear infinite; 
    background-size: 200%;
}

@keyframes moveBackground {
      0% {
          background-position: 100% 0;
      }
  }
@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}


.contact-container {
    display: flex;
    justify-content: center;
    height: 30vh;
    margin-top: 100px;
    animation: slideInTop 1.5s ease-out;
}

.contact-box {
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
}

.contact-box h1 {
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-box p {
    color: #555555;
    font-size: 16px;
    margin: 10px 0;
}

.contact-box.show-contact {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.contact-box {
    opacity: 0;
    transform: translateY(-20px);
}
